<%-include("partials/header.ejs") %>
<div id="updatePostPage">   
   <form action="/update/<%=id %>" method="POST">
      <label for="title">Title</label>
    <input name="title" type="text" class="post-iput" placeholder="20ch" minlength="3" maxlength="20" value="<%=title %>" required/>
    <label for="text">Text</label>
    <textarea name="text" class="post-iput" placeholder="Post text..." required><%=text %></textarea>
    <input type="submit" class="btn btn-success" value="OK" />
   </form> 
</div>
<%-include("partials/footer.ejs") %>